*.log
.DS_Store
.cache
src/.temp
node_modules
dist

# yarn.lock is the authoritative lock file for the repo, so ignore
# any package-lock.json file that npm generates.
package-lock.json

# Local Netlify folder
.netlify