@keyframes scaleIn {
  0% {
    transform: scale(.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--primary-color-dark);
    transform: scale(1);
  }
  70% {
    box-shadow: 0 0 0 15px transparent;
    transform: scale(1.05);

  }
  100% {
    box-shadow: 0 0 0 0 transparent;
    transform: scale(1);

  }
}

@keyframes stroke {
  to{stroke-dashoffset:-30;}
}


@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


.menu-item {
  display: block;
  transition: all 0.3s;
}
.menu-item-enter, .menu-item-leave-to {
  opacity: 0 !important;
}
.menu-item-leave-active {
  position: absolute;
}
