@keyframes scaleIn {
  0% {
    transform: scale(.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes stroke {
  to{
    stroke-dashoffset:-30;
    transform: translateZ(0);
  }
}


@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes moveInOut {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(5px);
  }
}



.menu-item {
  display: block;
  transition: all 0.3s;
}
.menu-item-enter, .menu-item-leave-to {
  opacity: 0 !important;
}
.menu-item-leave-active {
  position: absolute;
}
