html, body {
  background-color: #fff;
  touch-action: manipulation;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

svg {
  vertical-align: middle;
  max-width: 100%;
}

.g-image--lazy {
  opacity: 0.0;
  transition: opacity 600ms;

  &.g-image--loaded {
    opacity: 1.0;
  }
}

::selection { background: var(--primary-bg); }
