.button {
	display: inline-flex;
  align-items:center;
	padding: .5rem 1rem;
  font-weight: bold;
  letter-spacing: .5px;
  position: relative;
  border-radius: 5px;

  &:after {
    content: " ";
    top:0;
    bottom:0;
    left:0;
    right:0;
    position: absolute;
    border: 2px solid currentColor;
    border-radius: 5px;
    transition: opacity .3s;
  }

  &:hover:after {
    opacity: 1;
  }

  &.primary {
    color:#FFF;
    background-color: var(--primary-color);
    &:after {
      border-color: rgba(0,0,0,.1);
    }
    &:hover {
      color:#FFF;
      background-color: var(--secondary-color);
    }
  }

  &.small {
    font-size: .85rem;
    padding: .35rem .7rem;
  }

  + .button {
    margin-left: var(--space);
  }
}
