.button {
	display: inline-flex;
  align-items: center;
	padding: .34rem 1.2rem;
  font-weight: 500;
  letter-spacing: .5px;
  position: relative;
  border:0;
  text-decoration: none;
  border-radius: 5px;
  outline: 0;
  color: var(--primary-color);
  transition: background .3s, box-shadow .3s, color .3s;

  &:hover {
    box-shadow: var(--glow);
  }

  &:after {
    content: " ";
    top:0;
    bottom:0;
    left:0;
    right:0;
    position: absolute;
    border: 1px solid currentColor;
    border-radius: 5px;
    transition: opacity .3s, box-shadow .3s;
    opacity: .6;
    box-shadow: inset 0px -2px 0px 1px rgba(0,0,0,.15);
  }

  &:active:after {
    box-shadow: none;
  }

  &:hover:after {
    opacity: 1;
  }

  &.primary {
    color:#FFF;
    background-color: var(--primary-color);
    &:after {
      border-color: rgba(0,0,0,.1);
    }

    &:hover {
      color:#FFF;
      background-color: var(--primary-color-dark);
    }
  }

  &--small {
    font-size: .85rem;
    padding: .35rem .7rem;
  }
  &--xsmall {
    font-size: .7rem;
    padding: .3rem .7rem;
  }


  &--large {
    font-size: 1.2rem;
    padding: .5rem 1.5rem;
  }

  + .button {
    margin-left: var(--space);
  }
}
