#app code {
}

#app code {
  padding: 8px 12px;
  font-family: Space Mono,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

#app pre {
  margin-bottom: 2.0em;

  > code {
    padding: 0;
  }
}
