#app pre,
#app code {
  font-family: Space Mono,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  background-color: var(--code-color);
  border: 1px solid rgba(0,0,0,0.1);
}

// code blocks
#app pre {
  padding: 1em 0 1em 1em;
  margin-bottom: 2.0em;
}

// inline code
#app code {
  padding: 0.2em 0.4em;
}

