.gradient-1 {
  background: linear-gradient(173.33deg, #D1F6FE 5.4%, #FFFFFF 117.63%);
}
.gradient-2 {
  background: linear-gradient(171.94deg, #FED4D4 6.2%, #FFFFFF 113.42%);
}
.gradient-3 {
  background: linear-gradient(175.91deg, #EFDBFE 3.33%, #FFFFFF 134.67%);
}
.gradient-4 {
  background: linear-gradient(169.86deg, #CCF6CB 7.58%, #FFFFFF 139.78%);
}
.gradient-5 {
  background: linear-gradient(173.4deg, #FEECB7 5.19%, #FFFFFF 115.09%);
}
.gradient-6 {
  background: linear-gradient(173.33deg, #DCDCDC 5.4%, #EEEEEE 62.34%, #FFFFFF 117.63%);
}
