.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  > *:last-child {
    margin-left: 0;
    margin-right: 0;
  }

  &--center {
    justify-content: center;
  }

  &--align-equal {
    align-items: stretch;
    > * {
      align-self: stretch;
    }
  }

  &--no-wrap {
    flex-wrap: no-wrap;
  }

  &--space-between {
    justify-content: space-between;
  }
}

.gap {
  &-15 {
    > * {
      margin-right: 15px;
    }
  }

  &-20 {
    > * {
      margin-right: 20px;
    }
  }


  &-30 {
    > * {
      margin-right: 30px;
    }
  }

  &-60 {
    > * {
      margin-right: 60px;
    }
  }
}

.flex-fit {
  flex:1;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-align-top {
  align-items: flex-start;
}

.grid-cols{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: calc( var(--space) * 3);

  &--gap-small {
    grid-gap: calc( var(--space) );
  }

  &--2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &--4 {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media screen and (max-width: 750px) {
  .grid-cols{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .grid-cols{
    grid-template-columns: repeat(1, 1fr);
  }
}
