.container {
  max-width: 1200px;
  width: 100%;

  &,
  &-md,
  &-full,
  &-sm,
  &-mini {
    padding: 0 var(--space);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  &-md { max-width: 770px }
  &-sm { max-width: 630px }
  &-mini { max-width: 460px }

  &--push {
    margin-left: -15px;
    margin-right: -15px;
  }

  &--framed {
    box-shadow: 1px 1px 15px rgba(0,0,0,.1);
    padding: var(--space);
    background-color: #FFF;
  }
}

.sidebar {
  width: 300px;
  padding: var(--space);
  max-width: 100%;
  z-index: 10;
  left:0;
  background-color: var(--primary-bg);
  position: fixed;
  bottom:0;
  overflow:auto;
  border-right: 1px solid var(--border-color);
  top: var(--header-height);
  -webkit-overflow-scrolling: touch;

  + .section {
    margin-left: 300px;
    margin-top: var(--header-height);
  }

  h3 {
    font-size: .75rem;
    color: #7a9a8a;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 25px 0 15px;
  }

  p {
    margin-bottom: 5px;
    font-size: .9rem;
  }

  a {
    color: currentColor;
    opacity: 1;

    &:hover {
      opacity: .6;
    }

    &.active--exact {
      color: #000;
      opacity: 1;
      font-weight: 600;
    }
  }

  @media screen and (max-width: 750px) {
  & {
      width: 100%;
      position: relative;
      margin:0;
      order: 2;
      padding-bottom: 150px;
     
    } + .section {
      margin-left: 0;
      width: 100%;
      flex:1;
    }
  }


}
