.container {
  max-width: 1280px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container-full {
  padding: 0 20px;
  width: 100%;
}

.container-md {
  max-width: 770px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.container-sm {
  max-width: 650px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.sidebar {
  position: sticky;
  top: 30px;
  margin-bottom: 30px;
  background-color: var(--primary-bg)
}
