.container {
  max-width: 1200px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.container-full {
  padding: 0 20px;
  width: 100%;
}

.container-md {
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.container-sm {
  max-width: 650px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
