a {
  color: rgba(0,0,0,1);
  text-decoration: none;
  transition: color .3s, opacity .3s, background-color .3s;
  display: inline-block;
  position: relative;
  font-weight: bold;


  .post &:not(.button):after {
  	content: "";
  	bottom: 5px;
  	left:-2px;
  	width:calc(100% + 4px);
  	position: absolute;
  	opacity: .3;
  	border-bottom: 7px solid var(--primary-link-color);
  	z-index: -1;
  	transition: opacity .3s;
  }

  .post &:not(.button):hover:after {
    opacity: .4;
  }

}

a:hover:not(.active) {
  opacity: 1;
}