a {
  transition: color .3s, opacity .3s, background .3s;
  position: relative;
  border-radius: 99px;
  text-decoration: underline;
  color: var(--primary-color-dark);
  text-decoration-color: var(--border-color);

  &:hover {
    color: #000;
    text-decoration-color: rgba(0,0,0,.5);
  }

}

a:hover:not(.active) {
  opacity: 1;
}