a {
  color: rgba(0,0,0,1);
  text-decoration: none;
  transition: color .3s, opacity .3s, background .3s;
  display: inline-block;
  position: relative;
  border-radius: 99px;

  .post &:not(.button):not(:hover) {
    text-decoration: underline;
    color: var(--primary-link-color);
    text-decoration-color: var(--border-color);
  }

  .post &:not(.button):hover {
    text-decoration: underline;
    text-decoration-color: rgba(0,0,0,.5);
  }

}

a:hover:not(.active) {
  opacity: 1;
}