nav a {
  letter-spacing: .5px;
  font-size: .9rem;
  font-weight: 500;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px 10px;

  svg {
    margin: 3px 6px;
    opacity: .5;
  }
  &.active {
    svg {
      opacity: 1;
    }
  }
}

nav.tabs {

  overflow-x: auto;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;

  a {
    background-color: var(--primary-bg);
    border-radius: 5px;
    white-space: nowrap;
  }
  
  a.active {
    color:#FFF;
    background-color: var(--primary-color);
    background:  var(--primary-color);
    box-shadow: var(--shadow);
  }

  @media screen and (max-width: 750px) {
    justify-content: flex-start;
  }
}


nav a:not(.active):not(:hover):not(.button) {
  color: currentColor;
  opacity: .7;
}
