.plugins {
  &__sidebar {
    padding: 0 10px 0 0;

    @media screen and (min-width: 750px) {
      min-width: 225px;
      width: 375px;
    }
  }

  &__search {
    position: sticky;
    top: 0;
    margin: 0;
    padding-top: calc(var(--space) * 2);
    padding-bottom: calc(var(--space) / 2);
    background: rgba(255,255,255,.95);
    z-index: 1;

    &-box {
      min-height: 42.22px;
      margin-bottom: calc(var(--space) / 2);
    }

    .ais-SearchBox-form {
      margin-bottom: 0;
    }

    .ais-SearchBox-input {
      padding-left: calc(var(--space) / 2);
    }

    .ais-SearchBox-submit,
    .ais-SearchBox-reset {
      display: none;
    }

    .ais-PoweredBy {
      margin-left: auto;

      &-logo {
        width: 120px !important;
        filter: grayscale(100%);
        opacity: .7;
      }
    }
  }

  &__count {
    margin-left: calc(var(--space) / 2);
  }

  &__more.button {
    display: block;
    margin: var(--space) auto;
  }

  &__list {
    padding-bottom: 20px;

    .ais-InfiniteHits-list {
      margin: 0;
      list-style: none;
    }

    .ais-InfiniteHits-item {
      margin: 0;
    }
  }

  &__total {
    font-size: .8rem;
    opacity: .6;
    padding: 5px;
  }
}

.plugin {
  padding: calc(var(--space) / 2);
  position: relative;
  border-top: 1px solid var(--border-color);
  margin-bottom: 0;

  &:hover & {
    &__name {
      color: var(--primary-link-color);
    }
  }

  &--active  {
    & .plugin__name {
      color: var(--primary-color);
    }
  }

  &__name {
    font-weight: bolder;
    display: block;
  }

  &__description {
    opacity: .8;
    font-size: .9rem;
  }

  &__link {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: -1000px;
  }

  mark {
    background-color: var(--success-bg);
  }
}

.plugins-intro {
  text-align: center;

  &__text {
    margin: -20% auto 0;
    max-width: 550px;
  }

  &__image {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
  }
}

.plugin-post {
  &__meta {
    padding-bottom: var(--space);
    border-bottom: 1px solid var(--border-color);
    margin-bottom: var(--space);
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      opacity: .9;
    }
    svg {
      width: 28px;
      height: 28px;
      opacity: .4;
    }
  }

  &__users {
    display: inline-flex;
    align-items: center;
    margin-left: calc(var(--space) / 2);

    span {
      display: inline-flex;
      align-items: center;
    }

    img {
      width: 28px;
      height: 28px;
      margin: 0;
      border-radius: 99px;
    }
  }

  &__content {  }
}
