.sidebar::-webkit-scrollbar {
  width: 5px;
  position: fixed;
  right:0;
}

.sidebar::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0);
  transition: background-color 2s;
}


.sidebar:hover::-webkit-scrollbar-thumb {
	background:	#f3f5f7;
}

.sidebar::-webkit-scrollbar-thumb:hover {
	background:	#f3f5f7;
}
