* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Jost;
  src: url(../fonts/Jost-400-Book.otf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Jost;
  src: url(../fonts/Jost-500-Medium.otf);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Jost;
  src: url(../fonts/Jost-600-Semi.otf);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Jost;
  src: url(../fonts/Jost-700-Bold.otf);
  font-weight: 700;
  font-display: swap;
}

/* Smaller text for mobile */
@media screen and (max-width: 750px) {
  html {
    font-size: 99%;
  }
}

.lead {
  font-size: 1.2rem;
}

.small {
  font-size: 0.8em;
}

#app strong {
  font-weight: 500;
}

#app h5 {
  font-family: Jost;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .5px;
  opacity: .65;
}

#app .primary-color {
  color: var(--primary-color);
}

p {
  letter-spacing: -.15px;
  &:last-child {
    margin-bottom: 0;
  }
}

li {
  letter-spacing: -.15px;
}


.uppercase {
  text-transform: uppercase;
}

