.text-center {
  text-align: center;
}

.no-wrap {
  white-space:no-wrap;
  flex-wrap: no-wrap;
  display: inline-block;
}

.mb {
  margin-bottom: var(--space)!important;
}

.pb {
  padding-bottom: var(--space)!important;
}

.ml {
  margin-left: 10px!important;
}


.show-for-small {
  display: none;
}

@media screen and (max-width: 850px) {
  .hide-for-small {
    display: none!important;
  }

  .show-for-small {
    display: inherit;
  }
}
