.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  > *:last-child {
    margin:0;
  }
}

.gap {
  &-15 {
    > * {
      margin-right: 15px;
    }
  }

  &-20 {
    > * {
      margin-right: 20px;
    }
  }


  &-30 {
    > * {
      margin-right: 30px;
    }
  }

  &-60 {
    > * {
      margin-right: 60px;
    }
  }
}

.flex-fit {
  flex:1;
}

.flex-align-top {
  align-items: flex-start;
}

.grid-cols{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 50px;
}

.text-center {
  text-align: center;
}


@media screen and (max-width: 750px) {
  .hide-for-small {
    display: none!important;
  }
}
