.flex-x {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &--15 {
    > * {
      margin-right: 15px;
    }
  }

  &--30 {
    > * {
      margin-right: 30px;
    }
  }

  &--60 {
    > * {
      margin-right: 60px;
    }
  }

  > *:last-child {
    margin:0;
  }
}

.flex-fit {
  flex:1;
}

.text-center {
  text-align: center;
}
