:root {
  --primary-color: #5ED3A2; 
  --header-height: 58px;
  --primary-bg: #f3f7f9;
  --secondary-bg: #1F344A;
  --primary-link-color: #5bb196;
  --border-color: #e6e8ec;
  --success-bg: #5bb19640;
  --space: 20px;
  --space-x2: 40px;
  --code-color: #fff8eb;
  --code-color-block: #fffcf6;
}