:root {
  --primary-color: #4DBA87;
  --header-height: 75px;
  --secondary-color: #435466;
  --primary-bg: #f3f5f5;
  --primary-link-color: #236948;
  --border-color: rgb(223, 234, 219);
  --space: 20px;
  --space-x2: 40px;
  --code-color: #f3f5f5;
}

@media screen and (max-width: 750px) {
  :root {
    --header-height: 50px;
  }
}
