:root {
  --primary-color: #00A672;
  --primary-color-dark: #00835C;
  --header-height: 58px;
  --light-bg: #FFF;
  --light-bg-transparent: rgba(255,255,255,.95);
  --primary-bg: #f7fbfb;
  --primary-bg-transparent: rgba(247,251,251,.95);
  --dark-bg: #0d2538;
  --code-bg: #0b1d2b;
  --inline-code-text: #b32585;
  --inline-code-bg: rgba(212,53,159,.03);
  --border-color: #e2ecec;
  --border-color-darker: #cfe6e6;
  --mark-color: #fff8ec;
  --border-radius: 5px;
  --success-bg: #5bb19640;
  --space: 25px;
  --space-x2: 50px;
  --code-color: #fdf9f3;
  --glow: 2px 2px 10px 0 var(--success-bg);
}

@media screen and (max-width: 550px) {
  :root {
    --space: 20px;
    --space-x2: 20px;
  }
}



