:root {
  --primary-color: #00A672;
  --primary-color-dark: #00835c;
  --header-height: 58px;
  --light-bg: #FFF;
  --light-bg-transparent: rgba(255,255,255,.95);
  --primary-bg: #f7fbfb;
  --dark-bg: #0d2538;
  --border-color: #e2ecec;
  --border-color-darker: #cfe6e6;
  --mark-color: #fff8ec;
  --border-radius: 5px;
  --success-bg: #5bb19640;
  --space: 25px;
  --space-x2: 50px;
  --code-color: #fdf9f3;
  --code-color-block: #fffcf8;
  --glow: 1px 5px 15px 0 var(--success-bg);
}

@media screen and (max-width: 550px) {
  :root {
    --space: 20px;
    --space-x2: 25px;
  }
}



