:root {
  --primary-color: #4DBA87;
  --header-height: 60px;
  --secondary-color: #8FD46A;
  --primary-bg: #f0f3f1;
  --primary-link-color: #33845E;
  --border-color: rgb(223, 234, 219);
  --space: 30px;
  --space-x2: 60px;
  --code-color: #f5f7f5;
}

@media screen and (max-width: 750px) {
  :root {
    --space: 15px;
    --space-x2: 30px;
    --header-height: 50px;

  }
}
