:root {
  --primary-color: #4DBA87;
  --header-height: 65px;
  --primary-bg: #f4f5f7;
  --secondary-bg: #283849;
  --primary-link-color: #3a966b;
  --border-color: #e6e8ec;
  --space: 20px;
  --space-x2: 40px;
  --code-color: #fafafb;
}